<p>
  yami-code-socket works!
</p>

<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <p>User Information: (if user id(toId) is null the message will be sended to all users) </p>
  <div style="margin-bottom: 20px;">
    <input type="text" formControlName="fromId" name="fromId" placeholder="Your id">
    <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="open socket to recieve custom messages">
  </div>
  <input type="text" formControlName="toId" name="toId" placeholder="User id to send the message to">
</form>
<form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Message: </p>
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" [disabled]="form.invalid || userForm.invalid" value="Send using socket subscription">
  <input type="button" [disabled]="form.invalid || userForm.invalid" value="Send using a rest controller" (click)="sendMessageUsingRest()">
</form>
<ul>
  <li *ngFor="let message of messages">From: {{message.fromId}}, To: {{message.toId}}, Message: {{message.message}}</li>
</ul>